@media screen and (max-width:1450px) {
    /*----HERO SECTION---*/
    .hero {
        width: 100%;
        height: 20%;
    }
    /*---------PAGINA AYUDA(RESPONSIVE)---*/
    .garantiass {
        height: 110vh;
    }
    .metodopago {
        height: 700px;
    }
    .envio {
        height: 60vh;
    }
    /*---PRODUCTOS INDEX---*/
    .grid-producto-index {
        display: grid;
        grid-template-rows: repeat(2, 320px);
        grid-template-columns: repeat(3, 1fr);
        padding: 0 0 30px 0;
        place-items: center;
        .grid-p33 {
            grid-column-start: 1;
            grid-column-end: 2;
        }
        .grid-p34 {
            grid-column-start: 2;
            grid-column-end: 3;
        }
        .grid-p35 {
            grid-column-start: 3;
            grid-column-end: 4;
        }
        .grid-p36 {
            grid-row-start: 2;
            grid-column-start: 1;
            grid-column-end: 3;
        }
        .grid-p37 {
            grid-row-start: 2;
            grid-column-start: 2;
            grid-column-end: 4;
        }
    }
    /*----PRODUCTOS----*/
    .tituloproducto {
        padding: 10px;
        margin: 10px 70% 10px 0px;
    }
    .grid-producto {
        display: grid;
        grid-template-rows: repeat(3, 310px);
        grid-template-columns: repeat(3, 1fr);
        row-gap: 10px;
        padding: 0 2.5% 2.5% 2.5%;
        place-items: center;
    }
    /*----RESPONSIVE (COMPRAS-CREAR CUENTA)----*/
    .grid-datos {
        display: grid;
        grid-template-rows: repeat(8, 40px);
        grid-template-columns: repeat(4, 1fr);
        padding: 0;
        h4 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 30px 30% 0px 30%;
            height: 40px;
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 1;
        }
        /*---GRID PARA PAGINA CUENTA----*/
        .grid-datos-cuenta1 {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 4;
            align-items: center;
            div {
                display: flex;
                margin: 5px;
                justify-content: center;
                label {
                    flex: 1;
                    text-align: left;
                    font-size: 20px;
                }
                input {
                    flex: 0;
                    align-items: center;
                }
            }
        }
        .grid-datos-cuenta2 {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 3;
            grid-row-end: 6;
            li{
                display: flex;
                justify-content: center;
                text-align: center;
            }
        }
        /*GRID PARA PAGINA COMPRA*/
        .grid-datos-compra1 {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 4;
            align-items: center;            
            label {
                flex: 1;
                text-align: left;
                font-size: 20px;
            }
            input {
                flex: 0;
                align-items: center;
            }
        }
        
        .grid-datos-compra2 {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 5;
            align-items: center; 
            label {
                flex: 1;
                text-align: left;
                font-size: 20px;
            }          
        }
        .grid-datos-compra3 {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 6;
            align-items: center;
            label {
                flex: 1;
                text-align: left;
                font-size: 20px;
            }
            input {
                flex: 0;
                align-items: center;
            }
        }
        .grid-datos-compra4 {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 7;
            align-items: center;
            label {
                flex: 1;
                text-align: left;
                font-size: 20px;
            }
            input {
                flex: 0;
                align-items: center;
            }
        }
        .grid-datos-compra5 {
            grid-template-rows: 5 (40px);
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 5;
            align-items: center;
            li{
                label {
                    flex: 1;
                    text-align: left;
                    font-size: 20px;
                }
                input {
                    flex: 0;
                    align-items: center;
                }
            }
        }
        .grid-datos-compra6 {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 1;
            align-items: center;
            label {
                flex: 1;
                text-align: left;
                font-size: 20px;
            }
            input {
                flex: 0;
                align-items: center;
            }
        }
        .grid-datos-compra7 {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 2;
            align-items: center;
            label {
                flex: 1;
                text-align: left;
                font-size: 20px;
            }
            input {
                flex: 0;
                align-items: center;
            }
        }
        .grid-datos-compra8 {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 3;
            align-items: center;
            label {
                flex: 1;
                text-align: left;
                font-size: 20px;
            }
            input {
                flex: 0;
                align-items: center;
            }
        }
        .grid-datos-compra9 {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 4;
            align-items: center;
            label {
                flex: 1;
                text-align: left;
                font-size: 20px;
            }
            input {
                flex: 0;
                align-items: center;
            }
        }
        .grid-datos-compra10 {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 5;
            align-items: center;
            label {
                flex: 1;
                text-align: left;
                font-size: 20px;
            }
            input {
                flex: 0;
                align-items: center;
            }
        }
    }        
    /*---FOOTER----*/
    footer{
        .grid-container {
            grid-template-rows: repeat(4, 100px);
            grid-template-columns: repeat(4, 1fr);
            row-gap: 10px;
            .grid-item {
                display: flex;
                justify-content: center;
                h3 {
                    font-size: 15px;
                    margin: 5px;
                }
            }
            /*----FOOTER FACEBOOK---*/
            .primeritem {
                grid-column-start: 1;
                grid-column-end: 1;
                justify-content: left;
            }
            /*----FOOTER INSTAGRAM---*/
            .segundoitem {
                grid-row-start: 2;
                grid-column-start: 1;
                grid-column-end: 1;
                justify-content: left;
            }
            /*----FOOTER TWITTER---*/
            .terceritem {
                place-items: center;
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 3;
                justify-content: left;
            }
            /*----FOOTER LOGO---*/
            .cuartoitem {
                grid-column-start: 4;
                grid-column-end: 4;
                grid-row-start: 4;
                grid-row-end: 4;
                justify-content: flex-end;
                align-items: end;
            }
            /*----FOOTER COPYRIGHT---*/
            .quintoitem {
                grid-row-start: 4;
                grid-column-start: 2;
                grid-column-end: 4;
                font-size: 12px;
                justify-content: center;
                text-align: right;
                align-items: center;
                padding: 0;
            }
            /*----FOOTER AYUDA---*/
            .sextoitem {
                grid-column-start: 2;
                grid-column-end: 2;
                grid-row-start: 2;
                grid-row-end: 2;
                text-align: justify;
                padding: 0;
                display: inline-block;
                align-items: end;
                font-size: medium;
            }
            /*----FOOTER VACANTES---*/
            .septimoitem {
                grid-column-start: 4;
                grid-column-end: 4;
                grid-row-start: 2;
                grid-row-end: 2;
                text-align: justify;
                align-content: end;
                padding: 0;
                display: inline-block;
                font-size: medium;
                label {
                    flex: 1;
                    text-align: left;
                    font-size: 10px;
                }
                input {
                    flex: 0;
                    align-items: center;
                }
            }
            .grid-datos-compra8 {
                grid-column-start: 1;
                grid-column-end: 5;
                grid-row-start: 3;
                align-items: center;
                div{
                    margin: 5px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;                
                }
            }
            .grid-datos-compra9 {
                grid-column-start: 1;
                grid-column-end: 5;
                grid-row-start: 4;
                align-items: center;
                label {
                    flex: 1;
                    text-align: left;
                    font-size: 10px;
                }
                input {
                    flex: 0;
                    align-items: center;
                }
            }
            .grid-datos-compra10 {
                grid-column-start: 2;
                grid-column-end: 4;
                grid-row-start: 5;
                align-items: center;
                label {
                    flex: 1;
                    text-align: left;
                    font-size: 10px;
                }
                input {
                    flex: 0;
                    align-items: center;
                }
            }
        }
    }
}
@media screen and (max-width:638px) {
    /**----HEADER-----*/
    .logoheader {
        width: 75px;
        height: 75px;
    }
    .titulopagina {
        font-size: 30px;
    }
    /**----HERO SECTION---*/
    .hero {
        display: none;
    }
    /**---PRODUCTOS INDEX-------------*/
    .grid-producto-index {
        display: grid;
        grid-template-rows: repeat(2, 330px);
        grid-template-columns: repeat(2, 1fr);
        padding: 20px 0 0px 0;
        place-items: center;
        .grid-p33 {
            grid-column-start: 1;
            grid-column-end: 1;
        }
        .grid-p34 {
            grid-column-start: 2;
            grid-column-end: 2;
        }
        .grid-p35 {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 2;
        }
        .grid-p36 {
            grid-row-start: 2;
            grid-column-start: 2;
            grid-column-end: 2;    
        }
        .grid-p37 {
            display: none;
        }
    }
    .garantiass {
        height: 75%;
        background-position: center;
        background-position-y: 50%;
        p {
            padding: 20px 25px 10px 25px;
        }
    }
    .metodopago {
        height: 700px;
    }
    .envio {
        height: 500px;
    }
    /**----PUNTITO(SCROLL EN PRODUCTOS Y AYUDA)----*/
    .puntito{
        div{          
            .grid-puntito {
                display: grid;
                grid-template-rows: repeat(2, 40px);
                grid-template-columns: repeat(2, 1fr);
                li{
                    .grid-puntito-p1 {
                        grid-row-start: 1;
                        grid-column-start: 1;
                        grid-column-end: 2;
                    }               
                    .grid-puntito-p2 {
                        grid-row-start: 1;
                        grid-column-start: 2;
                        grid-column-end: 3;
                    }               
                    .grid-puntito-p3 {
                        grid-row-start: 2;
                        grid-column-start: 1;
                        grid-column-end: 2;
                    }               
                    .grid-puntito-p4 {
                        grid-row-start: 2;
                        grid-column-start: 2;
                        grid-column-end: 3;
                    }
                }
                .grid-puntito-a1 {
                    grid-row-start: 1;
                    grid-column-start: 1;
                    grid-column-end: 1;
                }            
                .grid-puntito-a2 {
                    grid-row-start: 2;
                    grid-column-start: 1;
                    grid-column-end: 3;
                }            
                .grid-puntito-a3 {
                    grid-row-start: 1;
                    grid-column-start: 2;
                    grid-column-end: 2;
                }
            }
        }
    }
    /*-----PRODUCTOS----*/
    .tituloproducto {
        padding: 10px;
        margin: 10px 60% 10px 0px;
    }
    .productos{
        div{
            width: 150px;
            height: 290px;
            border: 1px solid black;
            margin: 20px;
            background-color: rgb(204, 203, 203);
            h4{
                padding: 5px 0 0 0;
                font-size: medium;
                color: white;
                background-color: rgb(49, 201, 35);
                height: 42px;
                margin: 0;
                text-align: center;
            }
            a{
                img{
                    width: 147px;
                    height: 140px;
                }
            }
            p{
                text-align: center;
                height: 40px;
                font-size: 15px;
            }
            .productoboton {
                display: flex;
                justify-content: center;
                margin: 35px 15px 0px 15px;
            }
        }
    }
    .grid-producto {
        display: grid;
        grid-template-rows: repeat(4, 311px);
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;
        padding: 2% 0% 5% 0%;
        justify-content: space-evenly;
    }
    /**---FOOTER----*/
    footer{
        .grid-container {
            grid-template-rows: repeat(3, 100px);
            grid-template-columns: repeat(4, 1fr);
            row-gap: 10px;
            .grid-item {
                display: flex;
                justify-content: center;
                h3 {
                    font-size: 13px;
                    margin: 5px;
                }            
            }
            /**----FOOTER FACEBOOK---*/
            .primeritem {
                grid-column-start: 1;
                grid-column-end: 1;
                grid-column-end: 1;
                justify-content: right;
            }
            /**----FOOTER INSTAGRAM---*/
            .segundoitem {
                grid-row-start: 1;
                grid-column-start: 4;
                grid-column-end: 4;
                justify-content: left;
            }
            /**----FOOTER TWITTER---*/
            .terceritem {
                padding: 0 0 30px 0;
                justify-content: center;
                grid-column-start: 2;
                grid-column-end: 4;
                grid-row-start: 2;
            }
            /**----FOOTER LOGO---*/
            .cuartoitem {
                grid-column-start: 4;
                grid-column-end: 4;
                grid-row-start: 3;
                grid-row-end: 3;
                justify-content: flex-end;
                align-items: end;
            }
            /**----FOOTER COPYRIGHT---*/
            .quintoitem {
                grid-row-start: 3;
                grid-column-start: 1;
                grid-column-end: 4;
                font-size: 12px;
                justify-content: center;
                text-align: right;
                align-items: end;
                padding: 0;
            }
            /**----FOOTER AYUDA---*/
            .sextoitem {
                display: none;
            }
            /**----FOOTER VACANTES---*/
            .septimoitem {
                display: none;
            }
        }
    }
    .grid-datos {
        display: grid;
        grid-template-rows: repeat(8, 40px);
        grid-template-columns: repeat(4, 1fr);
        padding: 0;
        h4 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 30px 20% 0px 20%;
            height: 40px;
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 1;
        }
        .grid-datos-cuenta1 {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 4;
            align-items: center;
            div{
                label {
                    flex: 1;
                    text-align: left;
                    font-size: 20px;
                } 
                input {
                    flex: 0;
                    align-items: center;
                }
            }   
        }
        .grid-datos-cuenta2 {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 3;
            grid-row-end: 6;
            li {
                display: flex;
                justify-content: center;
                text-align: center;
            }
        }
        .grid-datos-compra1 {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 4;
            align-items: center;
            label {
                flex: 1;
                text-align: left;
                font-size: 15px;
            }
            input {
                flex: 0;
                align-items: center;
            }
        }
        .grid-datos-compra2 {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 5;
            align-items: center;
            label {
                flex: 1;
                text-align: left;
                font-size: 15px;
            }
            input {
                flex: 0;
                align-items: center;
            }
        }
        .grid-datos-compra3 {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 6;
            align-items: center;
            label {
                flex: 1;
                text-align: left;
                font-size: 15px;
            }
            input {
                flex: 0;
                align-items: center;
            }
        }
        .grid-datos-compra4 {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 7;
            align-items: center;
            label {
                flex: 1;
                text-align: left;
                font-size: 15px;
            }
            input {
                flex: 0;
                align-items: center;
            }
        }
        .grid-datos-compra5 {
            grid-template-rows: 5 (40px);
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 5;
            align-items: center;
            li{
                label {
                    flex: 1;
                    text-align: left;
                    font-size: 15px;
                }
                input {
                    flex: 0;
                    align-items: center;
                }
            }
        }
        .grid-datos-compra6 {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 1;
            align-items: center;
            label {
                flex: 1;
                text-align: left;
                font-size: 15px;
            }
            input {
                flex: 0;
                align-items: center;
            }
        }
        .grid-datos-compra7 {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 2;
            align-items: center;
            label {
                flex: 1;
                text-align: left;
                font-size: 15px;
            }
            input {
                flex: 0;
                align-items: center;
            }
        }
        .grid-datos-compra8 {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 3;
            align-items: center;
            label {
                flex: 1;
                text-align: left;
                font-size: 15px;
            }
        }
        .grid-datos-compra9 {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 4;
            align-items: center;
            label {
                flex: 1;
                text-align: left;
                font-size: 15px;
            }
            input {
                flex: 0;
                align-items: center;
            }
        }
        .grid-datos-compra10 {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 5;
            align-items: center;
            label {
                flex: 1;
                text-align: left;
                font-size: 15px;
            }
            input {
                flex: 0;
                align-items: center;
            }
        }
    }
}
@media screen and (max-width:400px) {
    /**----HEADER-----*/
    .logoheader {
        width: 75px;
        height: 75px;
    }
    .titulopagina {
        font-size: 30px;
    }
    /**----HERO SECTION---*/
    .hero {
        display: none;
    }
    /**---PRODUCTOS INDEX-------------*/
    .grid-producto-index {
        display: grid;
        grid-template-rows: repeat(2, 330px);
        grid-template-columns: repeat(2, 1fr);
        padding: 20px 0 0px 0;
        place-items: center;
        .grid-p33 {
            grid-column-start: 1;
            grid-column-end: 1;
        }
        .grid-p34 {
            grid-column-start: 2;
            grid-column-end: 2;
        }
        .grid-p35 {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 2;
        }
        .grid-p36 {
            grid-row-start: 2;
            grid-column-start: 2;
            grid-column-end: 2;    
        }
        .grid-p37 {
            display: none;
        }
    }
    .garantiass {
        height: 75%;
        background-position: center;
        background-position-y: 50%;
        p {
            padding: 20px 25px 10px 25px;
        }
    }
    .metodopago {
        height: 700px;
    }
    .envio {
        height: 500px;
    }
    /**----PUNTITO(SCROLL EN PRODUCTOS Y AYUDA)----*/
    .puntito{
        div{          
            .grid-puntito {
                display: grid;
                grid-template-rows: repeat(2, 40px);
                grid-template-columns: repeat(2, 1fr);
                li{
                    .grid-puntito-p1 {
                        grid-row-start: 1;
                        grid-column-start: 1;
                        grid-column-end: 2;
                    }               
                    .grid-puntito-p2 {
                        grid-row-start: 1;
                        grid-column-start: 2;
                        grid-column-end: 3;
                    }               
                    .grid-puntito-p3 {
                        grid-row-start: 2;
                        grid-column-start: 1;
                        grid-column-end: 2;
                    }               
                    .grid-puntito-p4 {
                        grid-row-start: 2;
                        grid-column-start: 2;
                        grid-column-end: 3;
                    }
                }
                .grid-puntito-a1 {
                    grid-row-start: 1;
                    grid-column-start: 1;
                    grid-column-end: 1;
                }            
                .grid-puntito-a2 {
                    grid-row-start: 2;
                    grid-column-start: 1;
                    grid-column-end: 3;
                }            
                .grid-puntito-a3 {
                    grid-row-start: 1;
                    grid-column-start: 2;
                    grid-column-end: 2;
                }
            }
        }
    }
    /*-----PRODUCTOS----*/
    .tituloproducto {
        padding: 10px;
        margin: 10px 60% 10px 0px;
    }
    .grid-producto {
        display: grid;
        grid-template-rows: repeat(4, 311px);
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;
        padding: 2% 0% 5% 0%;
        justify-content: space-evenly;
    }
    /**---FOOTER----*/
    footer{
        .grid-container {
            grid-template-rows: repeat(3, 100px);
            grid-template-columns: repeat(4, 1fr);
            row-gap: 10px;
            .grid-item {
                display: flex;
                justify-content: center;
                h3 {
                    font-size: 13px;
                    margin: 5px;
                }            
            }
            /**----FOOTER FACEBOOK---*/
            .primeritem {
                grid-column-start: 1;
                grid-column-end: 1;
                grid-column-end: 1;
                justify-content: right;
            }
            /**----FOOTER INSTAGRAM---*/
            .segundoitem {
                grid-row-start: 1;
                grid-column-start: 4;
                grid-column-end: 4;
                justify-content: left;
            }
            /**----FOOTER TWITTER---*/
            .terceritem {
                padding: 0 0 30px 0;
                justify-content: center;
                grid-column-start: 2;
                grid-column-end: 4;
                grid-row-start: 2;
            }
            /**----FOOTER LOGO---*/
            .cuartoitem {
                grid-column-start: 4;
                grid-column-end: 4;
                grid-row-start: 3;
                grid-row-end: 3;
                justify-content: flex-end;
                align-items: end;
            }
            /**----FOOTER COPYRIGHT---*/
            .quintoitem {
                grid-row-start: 3;
                grid-column-start: 1;
                grid-column-end: 4;
                font-size: 12px;
                justify-content: center;
                text-align: right;
                align-items: end;
                padding: 0;
            }
            /**----FOOTER AYUDA---*/
            .sextoitem {
                display: none;
            }
            /**----FOOTER VACANTES---*/
            .septimoitem {
                display: none;
            }
        }
    }
    .grid-datos {
        display: grid;
        grid-template-rows: repeat(8, 40px);
        grid-template-columns: repeat(4, 1fr);
        padding: 0;
        h4 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 30px 20% 0px 20%;
            height: 40px;
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 1;
        }
        .grid-datos-cuenta1 {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 4;
            align-items: center;
            div{
                label {
                    flex: 1;
                    text-align: left;
                    font-size: 20px;
                } 
                input {
                    flex: 0;
                    align-items: center;
                }
            }   
        }
        .grid-datos-cuenta2 {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 3;
            grid-row-end: 6;
            li {
                display: flex;
                justify-content: center;
                text-align: center;
            }
        }
        .grid-datos-compra1 {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 4;
            align-items: center;
            label {
                flex: 1;
                text-align: left;
                font-size: 15px;
            }
            input {
                flex: 0;
                align-items: center;
            }
        }
        .grid-datos-compra2 {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 5;
            align-items: center;
            label {
                flex: 1;
                text-align: left;
                font-size: 15px;
            }
            input {
                flex: 0;
                align-items: center;
            }
        }
        .grid-datos-compra3 {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 6;
            align-items: center;
            label {
                flex: 1;
                text-align: left;
                font-size: 15px;
            }
            input {
                flex: 0;
                align-items: center;
            }
        }
        .grid-datos-compra4 {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 7;
            align-items: center;
            label {
                flex: 1;
                text-align: left;
                font-size: 15px;
            }
            input {
                flex: 0;
                align-items: center;
            }
        }
        .grid-datos-compra5 {
            grid-template-rows: 5 (40px);
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 5;
            align-items: center;
            li{
                label {
                    flex: 1;
                    text-align: left;
                    font-size: 15px;
                }
                input {
                    flex: 0;
                    align-items: center;
                }
            }
        }
        .grid-datos-compra6 {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 1;
            align-items: center;
            label {
                flex: 1;
                text-align: left;
                font-size: 15px;
            }
            input {
                flex: 0;
                align-items: center;
            }
        }
        .grid-datos-compra7 {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 2;
            align-items: center;
            label {
                flex: 1;
                text-align: left;
                font-size: 15px;
            }
            input {
                flex: 0;
                align-items: center;
            }
        }
        .grid-datos-compra8 {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 3;
            align-items: center;
            label {
                flex: 1;
                text-align: left;
                font-size: 15px;
            }
        }
        .grid-datos-compra9 {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 4;
            align-items: center;
            label {
                flex: 1;
                text-align: left;
                font-size: 15px;
            }
            input {
                flex: 0;
                align-items: center;
            }
        }
        .grid-datos-compra10 {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 5;
            align-items: center;
            label {
                flex: 1;
                text-align: left;
                font-size: 15px;
            }
            input {
                flex: 0;
                align-items: center;
            }
        }
    }
}