header{
    background-color: rgb(37, 37, 37);
    width: 100%;
    .logoheader{
        width: 100px;
        height: 100px;
    }
    .titulopagina{
        font-size: 50px;
        font-weight: 100;
        text-align: center;
        color: whitesmoke;
    }
}